@font-face {
    font-family: TTNorms;
    src: url(TTNorms-Bold.woff2);
}

html {
    font-family: TTNorms;
    overflow-x: hidden;
    text-align: center;
}

body {
    margin: 0;
    overflow-x: hidden;
}

#rHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

#rHeader>div {
    flex: 1;
    display: flex;
    align-items: center;
}

.NoRuBy {
    color: red;
    font-size: larger;
    display: inline-block;
    border: red solid 1px;
    padding: 8px;
    border-radius: 10px;
    margin-right: 5px;
    user-select: none;
    position: relative;
    transition: opacity 0.2s;
}

.NoRuBy {
    display: none !important;
}
.NoRuBy #nohover {
    transition: opacity 0.2s;
}

.NoRuBy:hover #nohover {
    opacity: 0;
}

#onhover {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    transition: opacity 0.2s;
}


.NoRuBy:hover #onhover {
    opacity: 1;
}

.opahide {
    opacity: 0 !important;
}

.hide {
    display: none !important;
}

.rotate {
    transform: rotate(0.5turn);
}

#pages {
    justify-content: center;
    font-size: 18px;
}

#pages a {
    margin: 0 10px;
    color: unset;
    text-decoration: none;
    line-height: 80px;
}

#pages a.main {
    background: linear-gradient(180deg, #ffffff 97%, #5791eb 1%);
}

.lng-sl {
    font-size: 60px;
    color: white;
}


@media (min-width: 901px) {
    .show_on_phone {
        display: none !important;
    }
}

@media (max-width: 900px) {
    .hide_on_phone {
        display: none !important;
    }

    .NoRuBy {
        margin: 5px 0;
    }

    #phoneBorder {
        border-bottom: silver dashed 2px;
    }

    #mainD {
        font-size: 30px;
    }
    #pages {
        margin-right: 0;
    }
}