#bol-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
}

#bol-blue>* {
    margin: 0 100px 20px 100px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.toDoElem {
    display: flex;
    align-items: center;
    height: 265px;
    width: 280px;
    margin: 10px;
    font-size: larger;
    flex-direction: column;
    justify-content: center;
}

#admins {
    padding-top: 13px;
    background: linear-gradient(#090042, #242424);
}

#adminFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.admin {
    color: white;
    text-decoration: none;
    cursor: default;
    display: block;
    border-radius: 20px;
    border: red dashed 2px;
    padding: 8px;
    margin: 5px;
}

.ghost {
    color: white;
    font-size: larger;
    text-decoration: none;
}

#renImg {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#description {
    position: relative;
    height: 800px;
}

#blue_fon {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#5791eb, #b9e2ff);
    z-index: -2;
    height: 100%;
    width: 100%;
}

.white {
    border-radius: 10px;
    background-color: white;
    padding: 15px;
}

.link {
    text-decoration: none;
    color: black;
}

#pirat {
    padding: 40px 0 40px 0;
    background: linear-gradient(#5a90e0, #63aee4);
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin img {
    height: 60px;
}


#toDo {
    padding: 20px 20px 0 20px;
}

.note {
    border: red dashed 2px;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    margin: 5px 0 10px 0;
}

#lblue {
    padding: 10px 100px 10px 100px;
}

#secD {
    font-size: 30px;
    color: white;
}


@media (max-width: 372px) {
    .admin {
        padding: 6px;
        margin: 3px;
    }
}

@media (max-width: 900px) {
    #blue_fon {
        background: linear-gradient(#367ee9, #4cb4ff);
    }

    #lblue {
        padding: 10px 15px 10px 15px;
    }

    .toDoElem {
        margin: 0 0 20px 0;
    }

    #toDo {
        padding: 0;
    }

    #bol-blue>* {
        margin: 0 10px 20px 10px;
    }

    #secD {
        font-size: 20px;
    }

    #description {
        height: 500px;
    }

    .admin img {
        height: 50px;
    }

    #pirat {
        font-size: 25px;
    }
}